{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="panel panel-flat col-lg-7 ">
        <div class="panel-body">

            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                <fieldset class="content-group">
                    <legend class="text-bold">Добавить страницу</legend>
                    <div class="form-group {% if form.link.errors %} has-error {% endif %}">
                        <label class="control-label col-lg-3">Ссылка на страницу:</label>
                        <div class="col-lg-9">
                            {%  render_field form.link class="form-control" %}
                        </div>
                    {% for error, er in form.errors.items %}
                        <span class="help-block">{{ er }}</span>
                    {% endfor %}
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
