{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="panel panel-flat col-lg-7 ">
        <div class="panel-body">

            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                <fieldset class="content-group">
                    <legend class="text-bold">Добавить задачу</legend>

                    <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                        <label class="control-label col-lg-3">Название задачи:</label>
                        <div class="col-lg-9">
                            {%  render_field form.name class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group {% if form.topic_link.errors %} has-error {% endif %}">
                        <label class="control-label col-lg-3">Ссылка на обсуждение:</label>
                        <div class="col-lg-9">
                            {%  render_field form.topic_link class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group {% if form.start_date.errors %} has-error {% endif %}">
                        <label class="control-label col-lg-3">Дата начала задачи:</label>
                        <div class="col-lg-9">
                            {%  render_field form.start_date class="form-control daterange-single" %}
                        </div>
                    </div>
                    <div class="form-group {% if form.end_date.errors %} has-error {% endif %}">
                        <label class="control-label col-lg-3">Дата окончания задачи:</label>
                        <div class="col-lg-9">
                            {%  render_field form.end_date class="form-control daterange-single" %}
                        </div>
                    </div>
                    <div class="form-group {% if form.like_score.errors %} has-error {% endif %}">
                        <label class="control-label col-lg-3">Баллов за 1 лайк:</label>
                        <div class="col-lg-9">
                            {%  render_field form.like_score class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group {% if form.comment_score.errors %} has-error {% endif %}">
                        <label class="control-label col-lg-3">Баллов за 1 комментарий:</label>
                        <div class="col-lg-9">
                            {%  render_field form.comment_score class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group {% if form.repost_score.errors %} has-error {% endif %}">
                        <label class="control-label col-lg-3">Баллов за 1 репост:</label>
                        <div class="col-lg-9">
                            {%  render_field form.repost_score class="form-control" %}
                        </div>
                    </div>



                    <div class="form-group">
                    {% for error, er in form.errors.items %}
                        <span class="help-block">{{ er }}</span>
                    {% endfor %}
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
