{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VK bot</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static "css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/core.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/components.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/colors.css" %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static "js/plugins/loaders/pace.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/core/libraries/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/core/libraries/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/plugins/loaders/blockui.min.js" %}"></script>
	<!-- /core JS files -->

	<script type="text/javascript" src="{% static "js/moment/moment.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/pickers/daterangepicker.js" %}"></script>
	<script type="text/javascript" src="{% static "js/core/app.js" %}"></script>
	<script type="text/javascript" src="{% static "js/common.js" %}?sdf"></script>
	<!-- /theme JS files -->

</head>

{% block body %}
<body class="navbar-top login-container">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header" style="width: 100%">

			<ul class="nav navbar-nav">
                <li class="dropdown language-switch">
					<a class="dropdown-toggle" data-toggle="dropdown">
						{% if vkprofiles %}
                            {{ vkprofiles.login }}
                        {% else %}
                            Профили VK
                        {% endif %}
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
                        {% for profile in request.user.profiles.all %}
						    <li><a>{{ profile }}</a></li>
                        {% endfor %}
						<li><a href="{% url "vk-auth" %}">Добавить профиль</a></li>
					</ul>
				</li>
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<span>{{ request.user.username }}</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>

		</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">


			<!-- Main content -->
			<div class="content-wrapper">
            {% block header %}
            {% endblock %}


				<!-- Content area -->
				<div class="content">
                    {% block content %}
                    {% endblock %}

					<!-- Footer -->
					<div class="footer text-muted">
						Project by Natalya Fedotova
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
{% endblock %}
</html>
