{% extends "base.html" %}

{% block content %}
    <div class="alert alert-info alert-styled-left alert-bordered col-lg-6">
        <span>У Вас не добавлены профили VK. </span> <br/><a href="{% url 'vk-auth' %}" class="alert-link"><i class="icon icon-plus22"></i>  Добавить профиль</a>
    </div>
{% endblock %}