{% extends "base.html" %}
{% block header %}


    <!-- Page header -->
    <div class="page-header page-header-default">

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>Профили VK</li>
                <li class="active">{{ task.page.profile.login }}</li>
            </ul>
        </div>
    </div>
    <!-- /page header -->

{% endblock %}
{% block content %}
    
    <!-- Basic table -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <div class="media">
                    <div class="media-body">
                        <h5 class="panel-title">{{ task.name }}</h5>
                    </div>
                </div>

                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
{#                <a href="{% url "profile" pk=vkprofiles.page.pk %}" class="btn btn-primary rightButton">Назад</a>#}
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Имя</th>
                            <th>Балл</th>
                            <th>Баллы за лайки</th>
                            <th>Баллы за комментарии</th>
                            <th>Баллы за репосты</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for num, info in task.get_users|slice:":15" %}
                        <tr>
                            <td>{{ num }}</td>
                            <td>{{ info.user_id }}</td>
                            <td>{{ info.score }}</td>
                            <td>{{ info.like }}</td>
                            <td>{{ info.comment }}</td>
                            <td>{{ info.repost }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
        <!-- /basic table -->


{% endblock %}