{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}
<body class="login-container">
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
                <div class="content"  >

                    <!-- Simple login form -->
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                                <h5 class="content-group">Вход в систему <small class="display-block">Введите данные учетной записи</small></h5>
                            </div>

                            <div class="form-group has-feedback has-feedback-left {% if form.non_field_errors %} has-error {% endif %}">
                                {%  render_field form.username class="form-control" placeholder="Имя пользователя" %}
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left {% if form.non_field_errors %} has-error {% endif %}">
                                {%  render_field form.password class="form-control" placeholder="Пароль" %}
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                                {% for error in form.non_field_errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}

                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn bg-pink-400 btn-block">Войти <i class="icon-circle-right2 position-right"></i></button>
                            </div>

                            <div class="text-center">
                                <a href="#">Забыли пароль?</a>
                            </div>
                        </div>
                    </form>
                    <!-- /simple login form -->

                </div>

				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
{% endblock %}
