{% extends "base.html" %}
{% block header %}


    <!-- Page header -->
    <div class="page-header page-header-default">

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>Профили VK</li>
                <li class="active">{{ vkprofiles.login }}</li>
            </ul>
        </div>
    </div>
    <!-- /page header -->

{% endblock %}
{% block content %}
    {% if not vkprofiles.page.all %}
            <div class="alert alert-info alert-styled-left alert-bordered">
                <span>У Вас не добавлены страницы VK. </span>
                <br/><a href="{% url 'add_page' pk=vkprofiles.pk %}" class="alert-link"><i class="icon icon-plus22"></i>  Добавить страницу</a>
            </div>
    {% else %}
        <div class="panel-body float-left">
            <a href="{% url "add_page" pk=vkprofiles.pk %}" class="btn btn-primary"> Добавить страницу</a>
        </div>
    {% endif %}

    <!-- Basic table -->
    {% for page in vkprofiles.get_pages %}
        <div class="panel panel-flat">
            <div class="panel-heading">
                <div class="media">
                    <div class="media-left media-middle">
                        <img src="{{ page.image }}" class="img-circle img-xs" alt="">
                    </div>
                    <div class="media-body">
                        <h5 class="panel-title">{{ page.name }}</h5>
                    </div>
                </div>

                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <a href="{% url "add_task" pk=page.pk %}" class="btn btn-primary">Добавить задачу</a>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Задача</th>
                            <th>Дата начала</th>
                            <th>Дата окончания</th>
                            <th>Кол-во лайков</th>
                            <th>Кол-во комментариев</th>
                            <th>Кол-во репостов</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for task in page.get_tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td> <a href="{% url "info_task" pk=task.pk %}">{{ task.name }} </a></td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.end_date }}</td>
                            <td>{{ task.likes }}</td>
                            <td>{{ task.comments }}</td>
                            <td>{{ task.reposts }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
        <!-- /basic table -->
    {% endfor %}

{% endblock %}