{% extends "base.html" %}
{% load widget_tweaks %}



{% block content %}
    <!-- Simple login form -->
    <form method="post" action="{% url 'vk-auth' %}">
        {% csrf_token %}
        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                <h5 class="content-group">Авторизация VK <small class="display-block">Введите данные учетной записи Вконтакте</small></h5>
            </div>

            <div class="form-group has-feedback has-feedback-left {% if form.login.errors %} has-error {% endif %}">
                {%  render_field form.login class="form-control" placeholder="Имя пользователя" %}
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>

            <div class="form-group has-feedback has-feedback-left {% if form.password.errors %} has-error {% endif %}">
                {%  render_field form.password class="form-control" placeholder="Пароль" %}
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
                {% for error, er in form.errors.items %}
                <span class="help-block">{{ er }}</span>
                {% endfor %}

            </div>

            <div class="form-group">
                <button type="submit" class="btn bg-pink-400 btn-block">Войти <i class="icon-circle-right2 position-right"></i></button>
            </div>

        </div>
    </form>
    <!-- /simple login form -->
{% endblock %}